@charset "utf-8";
/* CSS Document*/
/*1.    背景倒三角*/
.box{position: relative;width: 120px;height:150px;margin: 20px auto;
    background-color: #d6d5d6;padding: 10px 0 0 20px;border: 1px #000000 solid}
div span i{position:absolute;width: 0;height: 0;border-width:9px;border-style:solid;
    border-color:   #d6d5d6 #d6d5d6 #000000 #d6d5d6; top: 2px;
}
ul{list-style-type:none ; }



